.box{
    height: 100px;
    width: 300px;
    background-color: pink;

    animation-name: widthAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3f;
    animation-direction: alternate;
}

/* Animation template */
@keyframes fontAnimation {
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px;
    }
}

@keyframes colorAnimate{
    from{
        background-color: green;
    }
    to{
        background-color: blue;
    }
}

@keyframes widthAnimation{
    from{
        width: 10px;
    }
    to{
        width: 400px;
    }
}