.box{
    height: 100px;
    width: 300px;
    background-color: pink;

    /* animation-name: widthAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3f;
    animation-direction: alternate; */

    /* shorthand */
    animation: widthAnimation 4s ease-in 0s 2 normal;
}

/* Animation template */
@keyframes fontAnimation {
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px;
    }
}

@keyframes colorAnimate{
    from{
        background-color: green;
    }
    to{
        background-color: blue;
    }
}

@keyframes widthAnimation{
    0%{
        background-color: green;
    }
    50%{
        background-color: yellow;
    }
    80%{
        background-color: red;
    }
    100%{
         background-color: blue;
    }
}