/* 1fr means a fraction of a container and 4 refers to count */
.container{
    width: 600px;
    height: 300px;
    background-color: yellow;
    display: inline-grid;
    /* grid-template-rows: 50px 50px 50px 50px 50px ;
    grid-template-columns: 200px 200px 200px; */
     /* grid-template-columns: repeat(4,1fr);  */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
    /* row-gap: 10px;
    column-gap: 30px; */
    grid-gap: 10px;
    /* justify-items: center;  /* (start , end and center)*/
   /* align-items: center ;  /* (start , end and center) */
   place-items: center;
}

.item{
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}
.one{
    place-self: start;
}
/* .one{
    justify-self: end;
    align-self: end;
} */
.one{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-column: 1/4; */
    /* grid-column: 1/span 3; */
}

.two{
    /* grid-row-start: 1;
    grid-row-end: 4; */
    /* grid-row: 1/4; */
    /* grid-row: 1/span 3; */
}